/* Custom Styles */
.query-block {
	padding: 15px;
	border: 1px solid black;
	cursor: pointer;
	margin-bottom: 10px;
}

.query-block.type-query {
	background-color: #FFFFE8;
}

.query-block.selected {
	border-color: blue;
}